.wordOrderInSentences_textOrder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wordOrderInSentences_sentences {
  margin: 20px auto;
  max-width: 600px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wordOrderInSentences_sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wordOrderInSentences_word {
  margin: 5px;
  font-size: 26px;
  font-weight: 600;
  -ms-touch-action: none;
  touch-action: none;
  padding: 0 3px;
  border-radius: 5px;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 1;
  touch-action: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wordOrderInSentences_rightAnswer {
  color: green;
}

.wordOrderInSentences_wrongAnswer {
  color: red;
}

.wordOrderInSentences_selected {
  color: blue;
}

.wordOrderInSentences_selectedInSentence {
  opacity: 0.2;
}

@media screen and (max-width: 1370px) {
  .wordOrderInSentences_word {
    font-size: 20px;
  }
}
