/* КНОАКА ПАУЗЫ И ПЛЭЙ - ЧЁРНАЯ МИНИМАЛИСТИЧНА */
.buttonPlayPausePlayPause_wrap {
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2px 0 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  cursor: pointer;
}
.buttonPlayPause--play {
  background-color: white;
  border-radius: 50%;
}
.buttonPlayPause--play .buttonPlayPause__shape {
  pointer-events: none;
  width: 9px;
  height: 22px;
  background-color: black;
  /* mix-blend-mode: difference; */
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.buttonPlayPause--play .buttonPlayPause__shape--one {
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.buttonPlayPause--play .buttonPlayPause__shape--two {
  -webkit-clip-path: polygon(0 25%, 100% 50%, 100% 50%, 0 75%);
  -webkit-transform: translateX(4.9px);
  -ms-transform: translateX(4.9px);
  transform: translateX(4.9px);
}
.buttonPlayPause--play.buttonPlayPause--active .buttonPlayPause__shape--one {
  -webkit-clip-path: polygon(0 15%, 50% 15%, 50% 85%, 0% 85%);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.buttonPlayPause--play.buttonPlayPause--active .buttonPlayPause__shape--two {
  -webkit-clip-path: polygon(50% 15%, 100% 15%, 100% 85%, 50% 85%);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* СТАРАЯ ПАНЕЛЬ ПРОВЕРКИ (РАСКОМЕНТИТЬ ДЛЯ НЕОБХОДИМОСТИ) */

/* .temporary {
  width: 70%;
  margin: 0 auto;
}

.head {
  padding-top: 0.7em;
  margin-bottom: 2em;
  width: 95%;
  height: 3em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  padding-left: 5%;
  background-color: #0ab7d3;
}

.head div {
  vertical-align: bottom;
  display: inline-block;
  background-size: auto 100%;
  height: 99%;
  bottom: 0;
  margin-left: 0.2em;
}

.interakt_zadanie {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10% auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.drop {
  width: 10%;
  background: url(head_img/1.png) no-repeat;
  cursor: pointer;
}

.check_your {
  width: 10%;
  background: url(head_img/6.png) no-repeat;
  cursor: pointer;
}

.check_your_active {
  background: url(head_img/5.png) no-repeat;
}

.result {
  width: 40%;
  width: 15em;
  float: right;
}

.result_lose {
  background: url(head_img/7.png) 0em 0em / 100% no-repeat;
  width: 40%;
  border-radius: 10px;
}

.result_win {
  background: url(head_img/8.png) 0em 0em / 100% no-repeat;
  width: 30%;
  border-radius: 10px;
} */

/* ПАНЕЛЬ ПРООВЕРКИ ВМЕСТЕ С КНОПКАМИ */
.checkTask {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-radius: 12px !important;
  min-height: 35px !important;
  max-height: 35x !important;
  margin: 30px 0 0 0 !important;
}

.chek_answer {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans !important;
  font-size: 30px;
  min-height: 35px !important;
  max-height: 35px !important;
}

.answer_indicator {
  padding: 0 12px;
}

.taskBtn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  cursor: pointer !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
  border: none !important;
  border-radius: 12px !important;
  background-color: #0ab7d3 !important;
  padding: 10px !important;
  font-size: 26px;
  color: white !important;
  min-width: 220px;
  max-width: 220px;
  min-height: 35px;
  max-height: 35px;
  margin: 0 !important;
}

.reloadIconTask {
  font-weight: bold;
  scale: 1.5;
}

.checkIconTask {
  scale: 1.2;
}

.taskBtn:hover {
  -webkit-box-shadow: -2px -2px 15px #b8b7b7, 2px 2px 15px #99999b !important;
  box-shadow: -2px -2px 15px #b8b7b7, 2px 2px 15px #99999b !important;
}

.chek_answer_wrongChoice_color {
  background: lightpink;
}
.chek_answer_rightChoice_color {
  background: lightgreen;
}

@media screen and (max-width: 1250px) {
  .taskBtn {
    min-width: 170px !important;
    max-width: 170px !important;
    font-size: 20px !important;
  }
  .chek_answer {
    font-size: 22px !important;
  }
}

@media screen and (max-width: 900px) {
  .taskBtn {
    min-width: 145px !important;
    max-width: 145px !important;
    font-size: 18px !important;
  }
}

/* КНОПККИ СЛАЙДБАРА */
.scrollBar_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
}
.scrollBar_button {
  width: 50px;
  height: 50px;
  background-color: #dde7fd;
  border-radius: 25px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.scrollBar_button:hover {
  background-color: #e9edf6;
}
.scrollBar_button:hover .scrollBar_arrow {
  border-top: 6px solid #0dc4e0;
  border-right: 6px solid #0dc4e0;
}
.scrollBar_arrow {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
  border-top: 6px solid #0892a7;
  border-right: 6px solid #0892a7;
}
.scrollBar_arrow_right {
  top: 17px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.scrollBar_arrow_left {
  top: 17px;
  left: 19px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* КНОПКИ ГАЛЕРЕИ */

.gallery_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
}

.gallery_arrow {
  z-index: 100;
  width: 25px;
  height: 25px;
  border-top: 6px solid #0892a7;
  border-right: 6px solid #0892a7;
  cursor: pointer;
}

.gallery_arrow:hover {
  border-top: 6px solid #0dc4e0;
  border-right: 6px solid #0dc4e0;
}
.gallery_arrow_right {
  top: 17px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gallery_arrow_left {
  top: 17px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 19px;
}

/* БЕЛЫЕ КНОПКИ ГАЛЕРЕИ*/
.gallary_buttons_white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 12px;
  margin-left: 2em;
  background-color: #0892a7;
}

.gallery_arrow_white {
  z-index: 100;
  width: 25px;
  height: 25px;
  border-top: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  cursor: pointer;
}

.gallery_arrow_white:hover {
  border-top: 6px solid #dde7fd;
  border-right: 6px solid #dde7fd;
}

.gallery_arrow_right_white {
  top: 17px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gallery_arrow_left_white {
  top: 17px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 19px;
}

/* КОНТЕЙНЕР СКРОЛЛБАРА (ДЛИНА ШИРАНА КАСТОМИЗИРУЕТСЯ) */
.scrollBar_container {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 12px;
}

/* ЭКСПЕРИМЕНТАЛЬНАЯ ИКОНКА ПРОИГРЫВАТЕЛЯ */

.icon_speaker_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
}

.icon_speaker_button {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 50px;
  height: 50px;
  background-color: #0892a7;
  border-radius: 25px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.icon_speaker_button:hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.animatingSoundIconPlay {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: playAction 1.3s linear infinite;
  animation: playAction 1.3s linear infinite;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.staticSoundIconPause {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-box-shadow: 0 0 10px 5px rgb(55, 98, 218);
  box-shadow: 0 0 10px 5px rgb(55, 98, 218);
}

/* .staticSoundIconPause:hover {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  } */

@-webkit-keyframes playAction {
  0% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 7px #474ef8;
    box-shadow: 0 0 10px 7px #474ef8;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px #f8d047;
    box-shadow: 0 0 10px 10px #f8d047;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 7px #74bc5b;
    box-shadow: 0 0 10px 7px #74bc5b;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
}

@keyframes playAction {
  0% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 7px #474ef8;
    box-shadow: 0 0 10px 7px #474ef8;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px #f8d047;
    box-shadow: 0 0 10px 10px #f8d047;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 7px #74bc5b;
    box-shadow: 0 0 10px 7px #74bc5b;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
}

.staticSoundIconPause {
  -webkit-animation: playActionPause 2s linear infinite;
  animation: playActionPause 2s linear infinite;
  -webkit-transition: -webkit-animation 1s linear;
  transition: -webkit-animation 1s linear;
  -o-transition: animation 1s linear;
  transition: animation 1s linear;
  transition: animation 1s linear, -webkit-animation 1s linear;
}
@-webkit-keyframes playActionPause {
  0% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 8px #89d4fb;
    box-shadow: 0 0 10px 8px #89d4fb;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
}
@keyframes playActionPause {
  0% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 8px #89d4fb;
    box-shadow: 0 0 10px 8px #89d4fb;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
}

.icon_speaker_volume {
  pointer-events: none;
  scale: 1.2;
  top: 21px;
  left: 12px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-right: 0;
  -webkit-perspective: 12px;
  perspective: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.icon_speaker_volume::after,
.icon_speaker_volume::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}
.icon_speaker_volume::before {
  left: 2px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-left: 0;
  top: -3px;
}
.icon_speaker_volume::after {
  width: 8px;
  height: 16px;
  border: 6px double;
  border-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  right: -14px;
  top: -6px;
}

/* ИКОНКА УВЕЛИЧЕНИЯ КАРТИНКИ */
.icon_zoomPicture_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
  gap: 2em;
}

.icon_zoomPicture {
  cursor: pointer;
  scale: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  background: -o-linear-gradient(top, currentColor 5px, transparent 0) no-repeat 2px 5px/8px 2px;
  background: linear-gradient(to bottom, currentColor 5px, transparent 0) no-repeat 2px 5px/8px 2px;
  color: #0892a7;
  margin: 5px;
}

.icon_zoomPicture::after,
.icon_zoomPicture::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 8px;
  background: currentColor;
}
.icon_zoomPicture::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 3px;
  top: 10px;
  left: 12px;
}

.icon_zoomPicture::before {
  top: 2px;
  left: 5px;
}

.whiteZoomImg {
  pointer-events: none;
  -webkit-transform: rotate(359deg);
  -ms-transform: rotate(359deg);
  transform: rotate(359deg);
  color: #fff;
}

.zoom_open_button_white {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  width: 32px;
  height: 32px;
  border-radius: 50% 50% 25% 50%;
  background-color: #0892a7;
}

/* ЦВЕТОВАЯ ИНДИКАЦИЯ ОТВЕТОВ*/
.indicatorCheck_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
  gap: 2em;
}

.indicatorCheck_color {
  cursor: pointer;
  font-size: 20px;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 12px;
}

.oneMultiChoice_border {
  border: 3px solid transparent;
}
.wrongChoice_answered {
  /* border-color:lightpink; */
  border-color: lightpink !important;
}
.rightChoice_answered {
  /* border-color:lightgreen; */
  border-color: lightgreen !important;
}

/* ИКОНКА ЗАКРЫТИЯ МОДАЛЬГНОГО ОКНА */
.icon_close_button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  scale: 3;
  color: #0892a7;
}

.icon_close_button::after,
.icon_close_button::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.icon_close_button::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close_icon_white {
  color: #ffffff;
}
/* ЦВЕТ ДЛЯ ЕДИНИЧНОГО И МНОЖЕСТВЕННОГО ВЫБОРА */

.targetChoice_color {
  border-color: rgba(29, 101, 255, 0.6431372549019608);
}

/* СТИЛЬ ДЛЯ СКРЫТИЯ ОТРЕНДЕРЕННОГО КОНТЕНТА */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;

  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/*
Глушилки и сокрытие элементов
*/
.noDisplayElement {
  opacity: 0;
  pointer-events: none;
}

.noEventElement {
  pointer-events: none;
}

.noEventAddOpacity {
  opacity: .3;
  pointer-events: none;
}

.trainerTaskWrapper {
  user-select: none;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}