.wordPuzzleWrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.wordPuzzle_dropWrapper {
  width: 100%;
  height: 50%;
  padding-right: 5%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  /* border: 1px solid black; */
  border-radius: 12px;
  -webkit-box-shadow: 0 20px 10px -6px rgb(190, 188, 188);
  box-shadow: 0 20px 10px -6px rgb(190, 188, 188);
}

.wordPuzzle_letters {
  width: 100%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wordPuzzle_dropWord {
  width: 107px;
  height: 140px;
  border-radius: 12px;
  /* border: 1px solid black; */
}

.wordPuzzle_letter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  width: 140px;
  -ms-touch-action: none;
  touch-action: none;
}

.wordPuzzle_letter_img {
  pointer-events: none;
  width: inherit;
  /* width: 250px; */
}

.wordPuzzle_letter_p {
  position: absolute;
  pointer-events: none;
  left: 42%;
  top: -20%;
  font-weight: bold;
  font-size: 70px;
}

.wordPuzzle_wrapper_wellDone {
  /* top: -45%; */
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wordPuzzle_wellDoneParrot {
  width: 50%;
}

.wordPuzzle_wellDOne_p {
  pointer-events: none;

  font-weight: bold;
  font-size: 25px;
}
.wordPuzzle_backgroundDrop {
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 255, 255) 66%,
    rgb(10, 183, 211)
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(255, 255, 255) 66%,
    rgb(10, 183, 211)
  );
  background: linear-gradient(45deg, rgb(255, 255, 255) 66%, rgb(10, 183, 211));
}

@media screen and (max-width: 1370px) {
  .wordPuzzle_dropWrapper {
    height: 42%;
  }

  .wordPuzzle_letter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    width: 125px;
  }
  .wordPuzzle_letter_img {
    pointer-events: none;
    /* width: inherit; */
    /* shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd; */
    /* width: 100%; */
  }
  .wordPuzzle_letter_p {
    left: 40%;
    top: -30%;
  }

  .wordPuzzle_dropWrapper {
    width: 616px;
    height: 50%;
    padding-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .wordPuzzle_dropWord {
    width: 95px;
    height: 135px;
  }
}

@media screen and (max-width: 1024px) {
  .wordPuzzle_dropWrapper {
    height: 42%;
  }

  .wordPuzzle_letter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    width: 83px;
  }
  .wordPuzzle_letter_img {
    pointer-events: none;
    width: inherit;
    /* width: 130px; */
  }
  .wordPuzzle_letter_p {
    left: 38%;
    top: -42%;
    font-weight: bold;
    font-size: 50px;
  }

  .wordPuzzle_dropWrapper {
    width: 480px;
    height: 50%;
    padding-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .wordPuzzle_dropWord {
    width: 63px;
    height: 136px;
  }
}

@media screen and (max-width: 720px) {
  .wordPuzzle_dropWrapper {
    height: 42%;
  }

  .wordPuzzle_letter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    width: 63px;
  }
  .wordPuzzle_letter_img {
    pointer-events: none;
    width: inherit;
    /* width: 130px; */
  }
  .wordPuzzle_letter_p {
    left: 38%;
    top: -30%;
    font-weight: bold;
    font-size: 35px;
  }

  .wordPuzzle_dropWrapper {
    width: 480px;
    height: 50%;
    padding-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .wordPuzzle_dropWord {
    width: 49px;
    height: 136px;
  }
}
