.multiChoicePictureWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.multiChoicePictureList {
  width: 100%;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.multiChoicePictureCard {
  user-select: none;

  background-color: #ffffff;

  border: 7px solid transparent;
  /* padding: 2px 2px; */
  position: relative;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
  border-radius: 8px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease;
  box-sizing: border-box;
}

.multiChoicePictureCard_big {
  height: 300px;
}
.multiChoicePictureCard_middle {
  height: 250px;
}
.multiChoicePictureCard_small {
  height: 200px;
}

.multiChoicePicture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  box-sizing: border-box;
}

.multiChoiceTitle {
  margin: 10px 0 10px 0;
  font-size: 18px;
}

.multiChoicePictureCard:hover {
  cursor: pointer;
  box-shadow: -5px -5px 15px #ecebeb, 5px 5px 15px #c3c6ce;
  transition: all 0.2s ease;
}

.multiChoicePictureCard:active {
  box-shadow: -5px -5px 15px #ecebeb, 5px 5px 15px #c3c6ce;

  cursor: pointer;
  transition: all 0.2s ease;
}

.multiChoicePictureCardActive {
  box-shadow: none;
  border-color: rgba(29, 101, 255, 0.6431372549019608);

  transition: all 0.2s ease;
}

.multipleChoicePictureRight {
  border-color: lightgreen;
}

.multipleChoicePictureWrong {
  border-color: lightpink;
}

@media screen and (max-width: 1370px) {
  .multiChoicePictureCard {
    height: 250px;
  }
  .multiChoicePictureCard_big {
    height: 300px;
  }
  .multiChoicePictureCard_middle {
    height: 200px;
  }
  .multiChoicePictureCard_small {
    height: 150px;
  }
  .multiChoiceTitle {
    font-size: 16px;
    margin: 5px 0 5px 0;
  }
}
