.singleChoice_5_Wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.singleChoice_5_List {
  width: 100%;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
}

.singleChoice_5_Card {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #ffffff;

  padding: 2px 2px;
  position: relative;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -ms-flex-pack: distribute;

  justify-content: space-around;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  gap: 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.singleChoice_5_Card_big {
  height: 300px;
  width: 45%;
}
.singleChoice_5_Card_middle {
  height: 250px;

  width: 30%;
}

.singleChoice_5_Card .singleChoice_5_video {
  width: 80% !important;
  /* height: 80% !important; */

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  text-align: center;
}

.singleChoice_5_Card:active,
.singleChoice_5_Card:hover {
  -webkit-box-shadow: -5px -5px 15px #ecebeb, 5px 5px 15px #c3c6ce;
  box-shadow: -5px -5px 15px #ecebeb, 5px 5px 15px #c3c6ce;

  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.singleChoice_5_CardText {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1370px) {
}
